<main class="py-3 container">
  <h1 class="display-3"><%= t('app.title').humanize %></h1>
  <p class="lead"><%= t('app.tagline') %></p>
  <hr class="my-4 bg-light">
  <p>Believe it or not, words affect us.</p>
  <p class="lead">
    <%= link_to 'Let us say something nice', say_something_nice_path, class: 'btn btn-primary' %>
  </p>
</main>
