<main class="py-3 container">
  <h1><%= title 'About' %></h1>

  <p>We are fragile. We listen to people and people say the meanest things. Painfull things that leave you insecure. Most of the times, we mend the wounds by telling ourselves what we wanted to hear. Things we wish people would say to others.</p>

  <p>Surely, this website will never be able to reproduce the effect of hearing nice things from people. However, believe it or not, things we read and hear really affects us, even if it is from a computer. Let us <%= link_to 'say something nice', say_something_nice_path %> to you.</p>

  <p>If you're still reading, would you like to <%= link_to 'say something nice to others', new_nice_thing_path %>?</p>
</main>
